{#
 # Template for the site footer.
 #}

<footer class="site-footer">
  <section class="site-footer-content container">
    {% block contents %}
    <div class="row">
      <div class="col-4">
        {{footer_some}}
      </div>
    </div>
    {% endblock %}
  </section>
  <section class="site-footer-credits container text-center">
    <a href="{{ privacy }}">{{ __('Privacy policy', 'pixels-text-domain') }}</a>
    {{ __('&copy; %1$s %2$s.', 'pixels-text-domain')|format(("now"|date('Y')), 'Company') }}
    {{ __('Crafted by <a href="https://pixels.fi" rel="nofollow" target="_blank">Pixels</a>.', 'pixels-text-domain') }}
  </section>
</footer>
