{#
 # Template for a Bootstrap input.
 #
 # @see https://getbootstrap.com/docs/4.0/components/forms/'
 # @version 1.0.0
 #
 # @var classes           Classes for the input.
 # @var disabled          If the input is disabled.
 # @var help_text         Help text for the input.
 # @var help_text_classes Classes for the help text.
 # @var id                Id attribute for the input.
 # @var label             Label for the input.
 # @var label_classes     Label for the <label> element.
 # @var name              Name attribute for the input
 # @var placeholder       Placeholder for the input.
 # @var readonly          If the input is read-only.
 # @var required          If the input is required.
 # @var type              The input type.
 # @var value             The value of the input.
 #}

{% block label %}
  {% if type != 'hidden' %}
    <label for="{{ id }}" class="{{ label_classes }}">{{ label }}</label>
  {% endif %}
{% endblock %}
{% block input %}
  <input type="{{ type }}" class="form-control{{ type == 'file' ? '-file' }} {{ classes }}" id="{{ id }}"  name="{{ name }}" placeholder="{{ placeholder }}" {{ help_text ? 'aria-describedby="' ~ help_text.content ~ '"' }} {{ disabled ? 'disabled' }} {{ readonly ? 'readonly' }} {{ required ? 'required' }} value="{{ value }}">
{% endblock %}
{% block help_text %}
  {% if help_text %}
    <small id="{{ id }}-help-text" class="form-text {{ help_text_classes }}">
      {{ help_text }}
    </small>
  {% endif %}
{% endblock %}
