{#
 # Template for a single content's teaser.
 #}

<article class="teaser teaser-{{ post.type }}" id="teaser-{{ post.ID }}">

	{% block content %}

		<h2 class="teaser-title teaser-title-{{ post.type }}">
      <a href="{{ post.link }}">{{ post.title }}</a>
    </h2>

		<div class="teaser-content teaser-content-{{ post.type }}">
			<p>{{ post.preview.read_more(__('Read more<span class="sr-only"> about %s</span>', textdomain)|format(post.title)) }}</p>
		</div>

		{% if post.get_thumbnail %}
			<img src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.alt }}" class="img-fluid">
		{% endif %}

	{% endblock %}

</article>
