{# Typography definition, PATTERN LIBRARY USE ONLY #}

{% if background %}
  <div class="{{ background }} p-3">
    {{ '<'~element~' class="'~variables.classes~'">' }}Text{{ '</'~element~'>' }}
  </div>
{% else %}
  {{ '<'~element~' class="'~variables.classes~'">' }}Text{{ '</'~element~'>' }}
{% endif %}
