{#
 # Template for a Bootstrap select input.
 #
 # @see https://getbootstrap.com/docs/4.0/components/forms/'
 # @version 1.0.0
 #
 # @var classes           Classes for the input.
 # @var disabled          If the input is disabled.
 # @var help_text         Help text for the input.
 # @var id                Id attribute for the input.
 # @var label             Label for the input.
 # @var label_classes     Label for the <label> element.
 # @var name              Name attribute for the input
 # @var options           Array of options for the select.
 # @var placeholder       Placeholder for the input.
 # @var readonly          If the input is read-only.
 # @var required          If the input is required.
 # @var type              The input type.
 #}

{% extends 'input/input.twig' %}

{% if pattern_library %}
  {% set classes = '' %}
  {% set disabled = false %}
  {% set help_text = __('Helper text for the field above.', textdomain) %}
  {% set id = '' %}
  {% set label = '' %}
  {% set label_classes = '' %}
  {% set name = '' %}
  {% set options = [{value: '1', label: 'One'}, {value: '2', label: 'Two', selected: true}] %}
  {% set readonly = false %}
  {% set required = false %}
{% endif %}

{% block label %}
  <label for="{{ id }}" class="{{ label_classes }}">{{ label }}</label>
{% endblock %}
{% block input %}
  <select class="form-control {{ classes }}" id="{{ id }}" name="{{ name }}" {{ help_text ? 'aria-describedby="' ~ help_text ~ '"' }} {{ disabled ? 'disabled' }} {{ readonly ? 'readonly' }} {{ required ? 'required' }}>
    {% for option in options %}
      <option value="{{ option.value }}" {{ option.selected ? 'selected' }}>{{ option.label }}</option>
    {% endfor %}
  </select>
{% endblock %}
